<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Whisper - A.I. Speech-To-Text App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
         <li><a href="http://whisper.giusi.cloud">App</a></li>
         <li><a href="{{ url_for('faq') }}">What is Whisper?</a></li>
         <li><a href="https://github.com/jackjakarta/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </nav>
    </header>
    <img src="https://www.linkpicture.com/q/Whisper-AI-S-t-T22222.png">
    <br>
    <h1>What is Whisper ?</h1>
    <br>
    <p> 1. OpenAI Whisper is an open source AI-powered voice assistant platform.
        <br>
        <br>
        2. It is built on top of the open source Mozilla DeepSpeech engine.
        <br>
        <br>
        3. It is designed to be highly extensible and customizable, allowing users to build custom voice applications.
        <br>
        <br>
        4. OpenAI Whisper is powered by natural language processing (NLP) and machine learning (ML) technology.
        <br>
        <br>
        5. It can be used to create voice-activated applications such as chatbots, virtual assistants, and voice-controlled devices.
        <br>
        <br>
        6. This App uses the OpenAI API to access the whisper model.
        <br>
        <br>
        7. This is a test app.
    </p>
  </body>
</html>


