<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Whisper - A.I. Speech-To-Text App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
         <li><a href="http://whisper.giusi.cloud">App</a></li>
         <li><a href="{{ url_for('faq') }}">What is Whisper?</a></li>
         <li><a href="https://github.com/jackjakarta/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </nav>
    </header>
    <img src="https://www.linkpicture.com/q/Whisper-AI-S-t-T22222.png">
    <p><a href="http://whisper.giusi.cloud">Transcribe</a> | <a href="{{ url_for('translate') }}">Translate</a> | <a href="{{ url_for('askgpt') }}">Ask-GPT</a></p>
    <br>
    <form method="post" enctype="multipart/form-data">
      <p>Upload your file here</p>
      <br>
      <input type="file" name="file">
      <br>
      <input type="submit" value="Translate" id="audiotrans">
    </form>
    {% if translated_text %}
      <h2>Translated Text</h2>
      <p>{{ translated_text }}</p>
    {% endif %}
  </body>
</html>



